@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #000000;
    color: #a8ced0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300; 
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

h1, h2 {
    color: #a8ced0;
    border-bottom: 1px solid #aaf0c1;
    padding-bottom: 5px;
    font-weight: 300; 
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; margin-top: 40px; }

a {
    color: #a8ced0;
    text-decoration: none;
    border: 1px solid #a8ced0;
    padding: 1px 10px;
    display: inline-block;
}

a:hover {
    background-color: #a8ced0;
    color: #000000;
}

.post-list {
    list-style-type: none;
    padding-left: 0;
}

.post-item {
    margin-bottom: 15px;
}

pre {
    background-color: #0d1015;
    border: 1px solid #000000;
    padding: 15px;
    overflow-x: auto;
    margin: 20px 0;
}

code {
    color: #a8ced0;
    font-weight: 300; 
}
